#tabs-nav {
    position: relative;
    display: flex;
}

.tabs-link {
    padding: 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-right: 1px solid rgba(0, 0, 0, .3);
    border-left: 1px solid rgba(0, 0, 0, .3);
    margin: 0;
    margin-bottom: 0px;
    width: max-content;
    background-color: #5b5b5b;
    z-index: 5;
}

.tabs-link+.tabs-link {
    margin-left: 6px;
}

.tabs-link._active {
    background-color: #ececec;
    color: rgb(61, 61, 61);
    margin-bottom: -1px;
}

.tabs-link._active::before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 1px;
    height: 1px;
    border-left: 1px solid rgba(0, 0, 0, .3);
}

.tabs-content {
    position: relative;
    width: 70%;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    display: none;
    background-color: #ececec;
    border-radius: 0px 8px 8px 8px;
    border: 1px solid rgba(0, 0, 0, .3);
    z-index: 4;
}